
@media only screen and (max-width:2500px) {
  body {
    margin: 0px;
    text-align: center;

    background-color: black;
  }
  .top-container{

  padding: 1.25em;
  position: relative;
  padding: 12em;

}
  h1 {
margin:1em auto 0 auto;
display: block;
font-size: 5.62em;
font-family: "Comic Sans MS", cursive, sans-serif;
color: #66BFBF;
line-height: 2;
}

.middle-container{
background-color: grey;
}
.bottom-container{
background-color: grey;
text-decoration-color: white

}
.bottom-cloud{
position: absolute;
left: 31.25em;
}
 .skills{
  background-color: white;
}

.mountain{
  width: 75em;
  height: 37.5em;
  position: relative;
}
.top-cloud{
 position: absolute;
  right: 18.75em;
  top: 4em;
  width: 24em;
}
.photu{
  width: 12em;
}
.color{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  color: #11999E;
}
.footer-link{
  color: #11999E;
}
}


